@media only screen and (min-device-width: 1150px) {
  .headerText {
    padding-top: 30px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    font-size: 16px !important;
  }

  .logo img {
    width: 100px;
  }

  .headerText {
    padding-top: 10px;
  }
}
@media only screen and (max-device-width: 767px) {
  body {
    font-size: 12px !important;
  }

  .logo img {
    padding-top: 26px;
  }
}
@media only screen and (min-device-width: 440px) and (max-device-width: 767px) {
  .logo img {
    width: 40px;
  }

  .headerText {
    padding-top: 50px;
  }
}
@media only screen and (max-device-width: 439px) {
  .logo img {
    width: 30px;
    padding-bottom: 10px;
  }

  .headerText h1 {
    padding-top: 55px;
    padding-bottom: 20px;
  }

  .headerText h2 {
    display: none;
  }
}
@media only screen and (min-device-width: 327px) and (max-device-width: 439px) {
  .headerText h1 {
    padding-bottom: 60px;
  }
}
@media only screen and (max-device-width: 326px) {
  .headerText h1 {
    padding-bottom: 10px;
  }

  .logo img {
    padding-top: 30px;
    padding-bottom: 25px;
    width: 20px;
  }
}
@media only screen and (max-device-width: 309px) {
  #menu ul li a {
    padding: 4px;
  }
}
@media only screen and (max-device-width: 309px) {
  #menu ul li {
    padding-bottom: 20px;
  }

  #menu ul li:first-child a, .reg-name {
    border-top-left-radius: unset !important;
    -webkit-border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    -webkit-border-bottom-left-radius: unset !important;
  }

  #menu ul li:last-child a, .reg-name {
    border-top-right-radius: unset !important;
    -webkit-border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    -webkit-border-bottom-right-radius: unset !important;
  }
}
@media only screen and (min-device-width: 2000px) {
  .big-message-one {
    margin-left: -156px;
  }

  .big-message-two {
    margin-left: -186px;
  }
}
@media only screen and (min-device-width: 1500px) and (max-device-width: 1999px) {
  .big-message-one {
    margin-left: -148px;
  }

  .big-message-two {
    margin-left: -178px;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1499px) {
  .big-message-one {
    margin-left: -138px;
  }

  .big-message-two {
    margin-left: -168px;
  }
}
@media only screen and (min-device-width: 1025px) {
  .small-message-two {
    transform: translate(13px, -130px);
    -webkit-transform: translate(13px, -130px);
    -moz-transform: translate(13px, -130px);
    -o-transform: translate(13px, -130px);
    -ms-transform: translate(13px, -130px);
  }

  .small-message-one {
    transform: translate(49px, -130px);
    -webkit-transform: translate(49px, -130px);
    -moz-transform: translate(49px, -130px);
    -o-transform: translate(49px, -130px);
    -ms-transform: translate(49px, -130px);
  }

  .big-message-one, .big-message-two {
    margin-top: -151px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .big-message-one, .big-message-two {
    margin-top: -125px;
  }
}
@media only screen and (max-device-width: 767px) {
  .info-item {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }

  .big-message-one, .big-message-two {
    margin-top: -96px;
  }
}
@media only screen and (min-device-width: 911px) and (max-device-width: 1024px) {
  .big-message-one {
    margin-left: -110px;
  }

  .big-message-two {
    margin-left: -136px;
  }
}
@media only screen and (min-device-width: 811px) and (max-device-width: 910px) {
  .big-message-one {
    margin-left: -108px;
  }

  .big-message-two {
    margin-left: -134px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 810px) {
  .big-message-one {
    margin-left: -106px;
  }

  .big-message-two {
    margin-left: -124px;
  }
}
@media only screen and (min-device-width: 731px) and (max-device-width: 767px) {
  .big-message-one {
    margin-left: -86px;
  }

  .big-message-two {
    margin-left: -104px;
  }
}
@media only screen and (min-device-width: 531px) and (max-device-width: 730px) {
  .big-message-one {
    margin-left: -81px;
  }

  .big-message-two {
    margin-left: -102px;
  }
}
@media only screen and (min-device-width: 381px) and (max-device-width: 530px) {
  .big-message-one {
    margin-left: -77px;
  }

  .big-message-two {
    margin-left: -98px;
  }
}
@media only screen and (min-device-width: 291px) and (max-device-width: 380px) {
  .big-message-one {
    margin-left: -76px;
  }

  .big-message-two {
    margin-left: -97px;
  }
}
@media only screen and (max-device-width: 290px) {
  .big-message-one {
    margin-left: -75px;
  }

  .big-message-two {
    margin-left: -96px;
  }
}
@media only screen and (min-device-width: 900px) and (max-device-width: 1024px) {
  .small-message-two {
    transform: translate(24px, -113px);
    -webkit-transform: translate(24px, -113px);
    -moz-transform: translate(24px, -113px);
    -o-transform: translate(24px, -113px);
    -ms-transform: translate(24px, -113px);
  }

  .small-message-one {
    transform: translate(52px, -113px);
    -webkit-transform: translate(52px, -113px);
    -moz-transform: translate(52px, -113px);
    -o-transform: translate(52px, -113px);
    -ms-transform: translate(52px, -113px);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 899px) {
  .small-message-two {
    transform: translate(20px, -109px);
    -webkit-transform: translate(20px, -109px);
    -moz-transform: translate(20px, -109px);
    -o-transform: translate(20px, -109px);
    -ms-transform: translate(20px, -109px);
  }

  .small-message-one {
    transform: translate(48px, -109px);
    -webkit-transform: translate(48px, -109px);
    -moz-transform: translate(48px, -109px);
    -o-transform: translate(48px, -109px);
    -ms-transform: translate(48px, -109px);
  }
}
@media only screen and (min-device-width: 700px) and (max-device-width: 767px) {
  .small-message-two {
    transform: translate(30px, -97px);
    -webkit-transform: translate(30px, -97px);
    -moz-transform: translate(30px, -97px);
    -o-transform: translate(30px, -97px);
    -ms-transform: translate(30px, -97px);
  }

  .small-message-one {
    transform: translate(51px, -97px);
    -webkit-transform: translate(51px, -97px);
    -moz-transform: translate(51px, -97px);
    -o-transform: translate(51px, -97px);
    -ms-transform: translate(51px, -97px);
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 699px) {
  .small-message-two {
    transform: translate(25px, -93px);
    -webkit-transform: translate(25px, -93px);
    -moz-transform: translate(25px, -93px);
    -o-transform: translate(25px, -93px);
    -ms-transform: translate(25px, -93px);
  }

  .small-message-one {
    transform: translate(46px, -93px);
    -webkit-transform: translate(46px, -93px);
    -moz-transform: translate(46px, -93px);
    -o-transform: translate(46px, -93px);
    -ms-transform: translate(46px, -93px);
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 599px) {
  .small-message-two {
    transform: translate(20px, -88px);
    -webkit-transform: translate(20px, -88px);
    -moz-transform: translate(20px, -88px);
    -o-transform: translate(20px, -88px);
    -ms-transform: translate(20px, -88px);
  }

  .small-message-one {
    transform: translate(41px, -88px);
    -webkit-transform: translate(41px, -88px);
    -moz-transform: translate(41px, -88px);
    -o-transform: translate(41px, -88px);
    -ms-transform: translate(41px, -88px);
  }
}
@media only screen and (min-device-width: 400px) and (max-device-width: 499px) {
  .small-message-two {
    transform: translate(15px, -85px);
    -webkit-transform: translate(15px, -85px);
    -moz-transform: translate(15px, -85px);
    -o-transform: translate(15px, -85px);
    -ms-transform: translate(15px, -85px);
  }

  .small-message-one {
    transform: translate(35px, -85px);
    -webkit-transform: translate(35px, -85px);
    -moz-transform: translate(35px, -85px);
    -o-transform: translate(35px, -85px);
    -ms-transform: translate(35px, -85px);
  }
}
@media only screen and (min-device-width: 290px) and (max-device-width: 399px) {
  .small-message-two {
    transform: translate(-10px, -88px);
    -webkit-transform: translate(-10px, -88px);
    -moz-transform: translate(-10px, -88px);
    -o-transform: translate(-10px, -88px);
    -ms-transform: translate(-10px, -88px);
  }

  .small-message-one {
    transform: translate(2px, -80px);
    -webkit-transform: translate(2px, -80px);
    -moz-transform: translate(2px, -80px);
    -o-transform: translate(2px, -80px);
    -ms-transform: translate(2px, -80px);
  }
}
@media only screen and (min-device-width: 231px) and (max-device-width: 289px) {
  .small-message-two {
    transform: translate(-5px, -71px);
    -webkit-transform: translate(-5px, -71px);
    -moz-transform: translate(-5px, -71px);
    -o-transform: translate(-5px, -71px);
    -ms-transform: translate(-5px, -71px);
  }

  .small-message-one {
    transform: translate(3px, -71px);
    -webkit-transform: translate(3px, -71px);
    -moz-transform: translate(3px, -71px);
    -o-transform: translate(3px, -71px);
    -ms-transform: translate(3px, -71px);
  }
}
@media only screen and (max-device-width: 230px) {
  .small-message-two, .small-message-one {
    transform: translate(-5px, -68px);
    -webkit-transform: translate(-5px, -68px);
    -moz-transform: translate(-5px, -68px);
    -o-transform: translate(-5px, -68px);
    -ms-transform: translate(-5px, -68px);
  }
}
@media only screen and (min-device-width: 1901px) {
  #content {
    background-size: 2200px;
    -webkit-background-size: 2200px;
    -moz-background-size: 2200px;
    -o-background-size: 2200px;
  }
}
@media only screen and (min-device-width: 1481px) and (max-device-width: 1900px) {
  #content {
    background-size: 1800px;
    -webkit-background-size: 1800px;
    -moz-background-size: 1800px;
    -o-background-size: 1800px;
  }
}
@media only screen and (min-device-width: 1125px) and (max-device-width: 1480px) {
  #content {
    background-size: 1400px;
    -webkit-background-size: 1400px;
    -moz-background-size: 1400px;
    -o-background-size: 1400px;
  }
}
@media only screen and (min-device-width: 714px) and (max-device-width: 1124px) {
  #content {
    background-size: 1000px;
    -webkit-background-size: 1000px;
    -moz-background-size: 1000px;
    -o-background-size: 1000px;
  }
}
@media only screen and (min-device-width: 505px) and (max-device-width: 713px) {
  #content {
    background-size: 700px;
    -webkit-background-size: 700px;
    -moz-background-size: 700px;
    -o-background-size: 700px;
  }
}
@media only screen and (min-device-width: 321px) and (max-device-width: 504px) {
  #content {
    background-size: 500px;
    -webkit-background-size: 500px;
    -moz-background-size: 500px;
    -o-background-size: 500px;
  }
}
@media only screen and (max-device-width: 320px) {
  #content {
    background-size: 380px;
    -webkit-background-size: 380px;
    -moz-background-size: 380px;
    -o-background-size: 380px;
  }
}
@media only screen and (min-device-width: 1025px) {
  .button {
    font-size: 20px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .button {
    font-size: 16px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .all-items > p {
    width: 180px;
  }
}
@media only screen and (min-device-width: 1025px) {
  .all-items > p {
    width: 220px;
  }
}
@media only screen and (min-device-width: 1025px) {
  .item {
    margin-bottom: 60px;
  }

  .small-image {
    height: 180px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
  }
}
@media only screen and (min-device-width: 310px) and (max-device-width: 1024px) {
  .small-image {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
  }
}
@media only screen and (min-device-width: 900px) and (max-device-width: 1024px) {
  .small-image {
    height: 170px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 899px) {
  .small-image {
    height: 160px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .small-image {
    margin-right: 65px;
    margin-left: 65px;
  }
}
@media only screen and (min-device-width: 700px) and (max-device-width: 767px) {
  .small-image {
    height: 150px;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 699px) {
  .small-image {
    height: 140px;
  }
}
@media only screen and (min-device-width: 400px) and (max-device-width: 767px) {
  .small-image {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 599px) {
  .small-image {
    margin-right: 50px;
    margin-left: 50px;
    height: 130px;
  }
}
@media only screen and (min-device-width: 400px) and (max-device-width: 499px) {
  .small-image {
    height: 120px;
  }
}
@media only screen and (min-device-width: 290px) and (max-device-width: 399px) {
  .small-image {
    margin-right: 20px;
    margin-left: 20px;
    height: 110px;
  }
}
@media only screen and (min-device-width: 290px) {
  #products > .item {
    padding: 20px;
  }
}
@media only screen and (max-device-width: 309px) {
  .small-image {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
  }
}
@media only screen and (max-device-width: 289px) {
  #products > .item {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-device-width: 231px) and (max-device-width: 289px) {
  #products > .item {
    height: 220px;
  }

  .small-image {
    height: 90px;
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media only screen and (max-device-width: 230px) {
  #products > .item {
    height: 200px;
  }

  .small-image {
    height: 70px;
  }

  .small-image {
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media only screen and (min-device-width: 1531px) {
  .product {
    width: 911px;
  }

  .big-image {
    height: 700px;
  }
}
@media only screen and (min-device-width: 1031px) and (max-device-width: 1530px) {
  .product {
    width: 711px;
  }

  .big-image {
    height: 500px;
  }
}
@media only screen and (min-device-width: 731px) and (max-device-width: 1030px) {
  .product {
    width: 611px;
  }

  .big-image {
    height: 400px;
  }
}
@media only screen and (min-device-width: 531px) and (max-device-width: 730px) {
  .product {
    width: 511px;
  }

  .big-image {
    height: 300px;
  }
}
@media only screen and (min-device-width: 331px) and (max-device-width: 530px) {
  .big-image {
    height: 200px;
  }
}
@media only screen and (max-device-width: 330px) {
  .big-image {
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }
}
@media only screen and (min-device-width: 1025px) {
  .reg, #guestOrder {
    width: 400px;
  }

  #submitReg {
    margin-left: 30%;
  }

  #registration {
    padding-left: 80px;
  }

  #guestOrder > .field > input {
    margin-right: 90px;
  }
}
@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) {
  #guestOrder > .field > input {
    margin-right: 61px;
  }

  .reg, #guestOrder {
    width: 330px;
  }

  #registration > #myForm > .field > .input-data {
    width: 150px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #submitReg {
    margin-left: 10%;
  }
}
@media only screen and (min-device-width: 701px) and (max-device-width: 767px) {
  #submitReg {
    margin-left: 18%;
  }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 700px) {
  .reg, #guestOrder {
    width: 300px;
  }

  #submitReg {
    margin-right: 2%;
  }

  #registration {
    padding-left: 40px;
  }

  #guestOrder > .field > input {
    margin-right: 48px;
  }

  #registration > #myForm > .field > .input-data {
    width: 150px;
    margin-right: 13px;
  }
}
@media only screen and (min-device-width: 485px) and (max-device-width: 500px) {
  .reg {
    margin: auto;
    width: 250px;
  }
}
@media only screen and (max-device-width: 500px) {
  #guestOrder {
    margin: auto;
    width: 250px;
  }
}
@media only screen and (max-device-width: 484px) {
  .reg {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }

  #registration {
    padding-left: unset !important;
  }
}
@media only screen and (max-device-width: 299px) {
  #guestOrder {
    width: auto;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-device-width: 380px) {
  #guestOrder {
    margin: 40px;
  }
}
@media only screen and (max-device-width: 379px) {
  #guestOrder {
    margin-top: 40px;
  }
}
@media only screen and (min-device-width: 301px) and (max-device-width: 500px) {
  .input-data {
    width: 150px;
  }

  #guestOrder > .field > input {
    margin-right: 18px;
  }

  #registration > #myForm > .field > .input-data {
    width: 120px;
  }

  #registration > #myForm > .field > label {
    margin-left: -10px;
  }
}
@media only screen and (max-device-width: 300px) {
  .input-data {
    width: 100px;
  }

  #reg-name {
    padding-top: 10px;
  }
}
@media only screen and (max-device-width: 250px) {
  #guestOrder > .field > label {
    float: unset !important;
  }

  #guestOrder > .field {
    text-align: center;
  }
}
@media only screen and (min-device-width: 234px) and (max-device-width: 250px) {
  #guestOrder > .field > label {
    padding-right: 26px;
  }
}
@media only screen and (min-device-width: 231px) and (max-device-width: 231px) {
  #log > form > label:nth-child(1) {
    padding-right: 1px;
  }
}
@media only screen and (min-device-width: 1025px) {
  #error-registration-message > .info-item {
    right: 12%;
  }

  #error-login-message > .info-item {
    right: 15%;
  }

  #login-message > .info-item {
    width: 262px;
  }

  #registration-message > .info-item {
    left: 17%;
  }

  #registration-message > .info-item > .info-text {
    width: 251px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #error-login-message > .info-item {
    right: 16%;
  }

  #error-registration-message > .info-item {
    right: 13%;
  }

  #login-message > .info-item {
    width: 190px;
  }

  #registration-message > .info-item {
    left: 19%;
  }

  #registration-message > .info-item > .info-text {
    width: 193px;
  }
}
@media only screen and (min-device-width: 701px) and (max-device-width: 767px) {
  #error-login-message > .info-item {
    right: 24%;
  }

  #error-registration-message > .info-item {
    right: 21%;
  }

  #registration-message > .info-item {
    left: 26%;
  }

  #registration-message > .info-item > .info-text {
    width: 153px;
  }
}
@media only screen and (min-device-width: 304px) and (max-device-width: 767px) {
  #login-message > .info-item {
    width: 182px;
  }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 700px) {
  #error-login-message > .info-item {
    right: 23%;
  }

  #error-registration-message > .info-item {
    right: 18%;
  }

  #registration-message > .info-item {
    left: 24%;
  }
}
@media only screen and (max-device-width: 700px) {
  #registration-message > .info-item > .info-text {
    width: 146px;
  }
}
@media only screen and (min-device-width: 485px) and (max-device-width: 500px) {
  #error-registration-message > .info-item {
    right: 13%;
  }

  #error-login-message > .info-item {
    right: 16%;
  }
}
@media only screen and (min-device-width: 301px) and (max-device-width: 500px) {
  #registration-message > .info-item {
    left: 19%;
  }
}
@media only screen and (min-device-width: 301px) and (max-device-width: 484px) {
  #error-registration-message > .info-item {
    right: 15%;
  }

  #error-login-message > .info-item {
    right: 18%;
  }
}
@media only screen and (min-device-width: 301px) {
  #error-registration-message > .info-item, #error-login-message > .info-item {
    top: 14%;
  }
}
@media only screen and (max-device-width: 303px) {
  #login-message > .info-item {
    width: 145px;
  }
}
@media only screen and (min-device-width: 231px) and (max-device-width: 300px) {
  #error-login-message > .info-item {
    right: 11%;
  }

  #error-registration-message > .info-item {
    top: 18%;
    right: 7%;
  }

  #registration-message > .info-item {
    left: 13%;
  }
}
@media only screen and (max-device-width: 230px) {
  #error-login-message > .info-item {
    margin-right: 20%;
  }

  #error-registration-message > .info-item {
    margin-right: 22%;
  }

  #registration-message > .info-item {
    right: 8%;
  }
}
@media only screen and (max-device-width: 800px) {
  .table {
    border-spacing: 1px 1px;
    margin-top: 15px;
    padding: auto;
    margin-left: auto;
  }
}
@media only screen and (max-device-width: 520px) {
  #basket-table {
    border-spacing: 1px 1px;
  }
}
@media only screen and (max-device-width: 440px) {
  #basket-table > tbody > tr > th:nth-child(2), #basket-table > tbody > tr > td:nth-child(2) {
    display: none;
  }
}
@media only screen and (min-device-width: 350px) and (max-device-width: 480px) {
  .table {
    font-size: 10px;
  }

  .table > tbody > tr > td > button {
    font-size: 10px;
  }
}
@media only screen and (min-device-width: 301px) and (max-device-width: 349px) {
  .table {
    font-size: 8px;
  }

  .table > tbody > tr > td > button {
    font-size: 8px;
  }
}
@media only screen and (max-device-width: 300px) {
  .table {
    font-size: 6px;
  }

  .table > tbody > tr > td > button {
    font-size: 6px;
  }
}
@media only screen and (max-device-width: 855px) {
  #admin-table {
    border-spacing: 1px 1px;
  }
}
@media only screen and (min-device-width: 551px) and (max-device-width: 800px) {
  #admin-table {
    font-size: 10px;
  }

  #admin-table > tbody > tr > td > button {
    font-size: 10px;
  }
}
@media only screen and (min-device-width: 456px) and (max-device-width: 550px) {
  #admin-table {
    font-size: 8px;
  }

  #admin-table > tbody > tr > td > button {
    font-size: 8px;
  }
}
@media only screen and (max-device-width: 455px) {
  #admin-table > tbody > tr > th:nth-child(2), #admin-table > tbody > tr > td:nth-child(2) {
    display: none;
  }

  #admin-table > tbody > tr > th:nth-child(3), #admin-table > tbody > tr > td:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-device-width: 1150px) {
  #moderator-table {
    border-spacing: 1px 1px;
  }
}
@media only screen and (min-device-width: 931px) and (max-device-width: 1150px) {
  #moderator-table {
    font-size: 14px;
  }

  #moderator-table > tbody > tr > td > button {
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 531px) and (max-device-width: 930px) {
  #moderator-table {
    font-size: 10px !important;
  }

  #moderator-table > tbody > tr > td > button {
    font-size: 10px !important;
  }
}
@media only screen and (max-device-width: 680px) {
  #moderator-table > tbody > tr > th:nth-child(1), #moderator-table > tbody > tr > td:nth-child(1) {
    display: none;
  }
}
@media only screen and (max-device-width: 580px) {
  #moderator-table > tbody > tr > th:nth-child(3), #moderator-table > tbody > tr > td:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-device-width: 530px) {
  #moderator-table {
    font-size: 6px !important;
  }

  #moderator-table > tbody > tr > td > button {
    font-size: 6px !important;
  }
}
@media only screen and (min-device-width: 1025px) {
  .empty-cart > div {
    max-width: 820px;
  }
}
@media only screen and (max-device-width: 767px) {
  .empty-cart > div {
    max-width: 500px;
  }
}
@media only screen and (min-device-width: 240px) and (max-device-width: 280px) {
  .empty-cart > img {
    width: 200px;
  }
}
@media only screen and (max-device-width: 239px) {
  .empty-cart > img {
    width: 150px;
  }
}
