@import "variables.scss";
@import "adaptive-sstyle.scss";

// common
body {
  font-family: Caveat, cursive;;
  font-size: 20px;
  margin: 0;
  background-color: $black-color;
}

a {
  text-decoration: none;
}

textarea {
  width: 100%;
  height: 300px;
}

#header {
  background: $black-color url(../images/main/header.jpg) no-repeat center;
  color: $orange1-color;
  margin-top: -28px;

  -webkit-background-image: url(../images/main/header.jpg);
  -moz-background-image: url(../images/main/header.jpg);
  -o-background-image: url(../images/main/header.jpg);

  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}

.logo {
  justify-content: left;
  padding: 10px;
}

.logo img:hover {
  transform: rotate(24deg);
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
}
.logo img{
  padding-top: 30px;
}

.headerText {
  margin-top: -100px;
  text-align: center;
}
// + adaptive headerText
// + adaptive header

// menu
#menu ul {
  margin-top: -20px;
  margin-left: -40px;
  list-style: none;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;

  justify-content: center;
  -webkit-justify-content: center;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

#menu ul li:first-child a, .reg-name {
  border-top-left-radius: 12px;
  -webkit-border-top-left-radius: 12px;

  border-bottom-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
}

#menu ul li:last-child a, .reg-name {
  border-top-right-radius: 12px;
  -webkit-border-top-right-radius: 12px;

  border-bottom-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
}

#menu ul li a {
  padding: 10px;
  background-color: $black-color;
  letter-spacing: -1px;
  color: $orange3-color;
}

#menu ul li a:hover {
  color: $black-color;
  background-color: $orange3-color;
}

#menu ul li a.active {
  color: $grey-color;
  background-color: $orange2-color;
}

#menu ul li a.active:hover {
  color: $black-color;
}
// + adaptive menu

#count, #count-guest {
  display: inherit;
}
// end menu

// info-messages
.info-item {
  background-color: $black-color;
  color: $orange1-color;
  border: 1px solid $orange1-color;
  position: absolute;
  padding-left: 2%;
  padding-right: 2%;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.info-item:hover {
  background-color: $grey-color0;
}

.small-message-one, .small-message-two {
  display: block;
}

.big-message-one, .big-message-two {
  display: inline-block;
}
// + adaptive info-messages
// end info-messages
//iiiiiiiiiiiiii
#content {
  padding: 10px;
  color: $orange1-color;
  text-align: center;
  min-height: 100vh;

  background: $black-color url(../images/main/content.jpg) repeat-y center;
  -webkit-background-image: url(../images/main/content.jpg);
  -moz-background-image: url(../images/main/content.jpg);
  -o-background-image: url(../images/main/content.jpg);

  background-size: 1000px;
  -webkit-background-size: 1000px;
  -moz-background-size: 1000px;;
  -o-background-size: 1000px;;
}
// + adaptive content

.button {
  font-family: Caveat, cursive;
  padding: 10px;
  color: $orange1-color;
  background-color: $black-color;
  border-color: $black-color;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.button:hover {
  color: $black-color;
  background-color: $orange1-color;
}
// + adaptive button

#footer {
  padding: 10px;
  background-color: $black-color;
  color: $orange1-color;
  text-align: center;
}

// visibility
.hide {
  display: none;
}

.show {
  display: block;
}

.hideImportant {
  display: none !important;
}
// end visibility
// end common


// catalog-page
.main-text {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;

  text-align: center;
}

.main-text-item {
  width: 500px;
  border: 2px solid $orange1-color;
}

#products {
  padding: 10px;
  color: $orange1-color;
  background-color: transparent;
  text-align: center;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  justify-content: space-around;
  -webkit-justify-content: space-around;
}

// items (small-products)
.item {
  background-color: $orange1-color;
  color: $black-color;
  padding: 10px;
  margin: 40px;

  border-radius: 190px;
  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;

  transform: rotate(10deg) scale(1.2);
  -webkit-transform: rotate(10deg) scale(1.2);
  -moz-transform: rotate(10deg) scale(1.2);
  -o-transform: rotate(10deg) scale(1.2);
  -ms-transform: rotate(10deg) scale(1.2);

  transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

.item:nth-child(2n) {
  transform: rotate(-10deg) scale(1.2);
  -webkit-transform: rotate(-10deg) scale(1.2);
  -moz-transform: rotate(-10deg) scale(1.2);
  -o-transform: rotate(-10deg) scale(1.2);
  -ms-transform: rotate(-10deg) scale(1.2);
}

.item:hover {
  transform: rotate(0) scale(1);
  -webkit-transform: rotate(0) scale(1);
  -moz-transform: rotate(0) scale(1);
  -o-transform: rotate(0) scale(1);
  -ms-transform: rotate(0) scale(1);
}

.item a, .product a {
  color: $black-color;
}

.item a:hover, .product a:hover  {
  color: $yellow-color;
}

.all-items {
  width: 100%;
}

.all-items > p {
  background-color: $black-color;
  width: 150px;
  text-align: center;
  margin: auto;
  padding: 5px;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
// + adaptive all-items
// + adaptive small product
// end catalog-page


// product-page (big product)
.big-image {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.add-to-basket {
  padding: 10px;
  border: 2px solid $black-color;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.product {
  display: inline-block;
  text-align: center;
  background-color: $orange1-color;
  color: $black-color;
  padding-bottom: 10px;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.big-item-information {
  padding-bottom: 10px;
}

.text {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
// + adaptive big product


// registration-page
.unseen {
  display: none;
}

.reg {
  display: inline-block;
  background-color: $orange1-color;
  color: $black-color;

  transform: rotate(0) scale(1);
  -webkit-transform: rotate(0) scale(1);
  -moz-transform: rotate(0) scale(1);
  -o-transform: rotate(0) scale(1);
  -ms-transform: rotate(0) scale(1);

  border-radius: 190px;
  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;
}

#guestOrder {
  display: inline-block;
  background-color: $orange1-color;
  color: $black-color;
  padding: 10px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;

  transform: rotate(0) scale(1);
  -webkit-transform: rotate(0) scale(1);
  -moz-transform: rotate(0) scale(1);
  -o-transform: rotate(0) scale(1);
  -ms-transform: rotate(0) scale(1);
}

.field {
  clear: both;
  text-align: right;
  line-height: 25px;
}

.field label {
  float: left;
  padding-right: 10px;
}

#registration {
  padding-top: 10px;
  padding-left: 50px;
  float: left;
}

#reg-name {
  letter-spacing: -1px;
  margin-top: 12px;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;

  justify-content: center;
  -webkit-justify-content: center;
}

#reg-name .active-reg {
  color: $grey-color;
  padding: 4px;
  background-color: $orange2-color;
}

#reg-name .not-active-reg {
  color: $black-color;
}

#reg-name .not-active-reg:hover {
  color: $grey-color;
}

#reg-name .active-reg:hover {
  color: $black-color;
}

input {
  padding: 5px 10px;
  margin: 5px 0;
}

input:focus{
  outline: none;
}
// + adaptive login/registration and guest-info

#rememberMe:checked + label:before {
  height: 1rem;
  width: 1rem;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 2rem;
  outline: none;
  margin-left: -17px;
  margin-top: -6px;
}

#rememberMe:checked + label:after {
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  outline: none;

  animation: click-wave 0.65s;
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  -o-animation: click-wave 0.65s;
}

#registration-message > .info-item {
  top: 18%;
  padding-right: 5px;
  padding-left: 5px;
}

#login-message {
  margin-bottom: 10px;
}

#login-message > .info-item {
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
// + adaptive login/registration-message
// end registration-page


// table (on basket/moderator/admin-pages)

.table {
  display: inline-block;
  text-align: center;
  border: 2px solid $black-color;
  background-color: $orange2-color;
  border-spacing: 7px 5px;
}
// + adaptive table (on basket/moderator/admin-pages)
// + adaptive admin-table
// + adaptive moderator-table
th {
  background-color: $orange1-color;
  padding: 5px;
}

td {
  background-color: $orange1-color;
  padding: 5px;
}

//info-moderator-message, info-admin-message
#info-moderator-not-baskets-message, #info-admin-not-users-message {
  color: $black-color;
  background-color: $orange1-color;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#info-moderator-not-baskets-message {
  width: 300px;
}

#info-admin-not-users-message {
  width: 200px;
}
//end info-moderator-message, info-admin-message

// end table (on basket/moderator/admin-pages)


// basket-page
.add_basket {
  margin-top: 20px;
  margin-bottom: 10px;
}

.info-formalize-basket {
  display: inline-block;
  text-align: center;
  background-color: $orange1-color;
  padding: 10px;
  color: $black-color;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.totat_h2 {
  display: inline-block;
  text-align: center;
  background-color: $orange1-color;
  padding: 10px;
  color: $black-color;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.delete_all_basket {
  display: block;
  margin: auto;
}

.basket-message {
  display: block !important;
  margin: auto;
  width: 310px;
}

// empty basket
.empty-cart {
  margin-top: 30px;
}

.empty-cart > div {
  background-color: $black-color;
  max-width: 660px;
  margin: auto;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
// + adaptive empty basket
// end basket