/* common */

body {
	font-family: Caveat, cursive;;
	font-size: 20px;
	margin: 0;
	background-color: #000000;
}

a {
	text-decoration: none;
}

textarea {
	width: 100%;
	height: 300px;
}

#header {
	background: #000000 url(../images/main/header.jpg) no-repeat center;
	color: #FF4500;
	background-size: 100%;
	margin-top: -28px;
}

.logo {
	justify-content: left;
	padding: 10px;
}

.logo img:hover {
	transform: rotate(24deg);
}
.logo img{
	padding-top: 30px;
}

.headerText {
	margin-top: -100px;
	text-align: center;
}

@media only screen and (min-device-width : 1150px) {
	.headerText {
		padding-top: 30px;
	}
}
/*adaptive header*/
/*adaptive tablet*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	body {
		font-size: 16px;
	}
	.logo img {
		width: 100px;
	}

	.headerText  {
		padding-top: 10px;
	}
}

@media only screen and (max-device-width : 767px) {
	body {
		font-size: 12px;
	}

	.logo img{
		padding-top: 35px;
	}
}

@media only screen and (min-device-width : 440px) and (max-device-width : 767px) {
	.logo img {
		width: 40px;
	}

	.headerText  {
		padding-top: 50px;
	}
}

/*end adaptive tablet*/

/*adaptive smart phone*/

@media only screen and (max-device-width : 439px) {
	.logo img {
		width: 30px;
		padding-bottom: 20px
	}

	.headerText h1 {
		padding-top: 55px;
		padding-bottom: 20px;
	}

	.headerText h2 {
		display: none;
	}
}

@media only screen and (min-device-width : 327px) and (max-device-width : 439px) {
	.headerText h1 {
		padding-bottom: 60px;
	}
}

@media only screen and (max-device-width : 326px) {
	.headerText h1 {
		padding-bottom: 10px;
	}

	.logo img {
		padding-bottom: 25px;
		padding-top: 30px;
		width: 20px;
	}
}

/*end adaptive smart phone*/
/*end adaptive header*/

/* menu */

#menu ul {
	margin-top: -20px;
	margin-left: -40px;
	display: flex;
	list-style: none;
	flex-direction: row;
	justify-content: center;
}

#menu ul li:first-child a, .reg-name { 
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
}

#menu ul li:last-child a, .reg-name { 
	-webkit-border-top-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
}

#menu ul li a { 
	padding: 10px;
	background: black; 
	letter-spacing: -1px; 
	color: orange;
}
	
#menu ul li a:hover { 	
	color: black;
	background-color: orange;
}

#menu ul li a.active { 
	color: #46403C;
	background: #ff8a1e; 
}
#menu ul li a.active:hover { 
	color: #000000;
}

@media only screen and (max-device-width :309px) {
	#menu ul li a {
		padding: 4px;
	}
}

#count, #count-guest {
	display: inherit;
}

/* end menu */

#content {	
	margin: 5px;
	padding: 10px;
	color: #FF4500;
	background: #000000 url(../images/main/content.jpg) repeat-y center;
	background-size: 1000px;
	text-align: center;
	min-height: 100vh;
}

/*adaptive content*/

@media only screen and (min-device-width :1901px) {
	#content {
		background-size: 2200px;
	}
}

@media only screen and (min-device-width :1481px) and (max-device-width : 1900px) {
	#content {
		background-size: 1800px;
	}
}

@media only screen and (min-device-width :1125px) and (max-device-width : 1480px) {
	#content {
		background-size: 1400px;
	}
}

@media only screen and (min-device-width :714px) and (max-device-width : 1124px) {
	#content {
		background-size: 1000px;
	}
}

@media only screen and (min-device-width : 505px) and (max-device-width : 713px) {
	#content {
		background-size: 700px;
	}
}

@media only screen and (min-device-width : 321px) and (max-device-width : 504px) {
	#content {
		background-size: 500px;
	}
}

@media only screen and (max-device-width : 320px) {
	#content {
		background-size: 380px;
	}
}
/*end adaptive content*/

.button {
    font-family: Caveat, cursive;
    padding: 10px;
    color: #FF4500CC;
    background-color: #000000;
    border-radius: 20px;
    border-color: #000001;
}

@media only screen and (min-device-width : 1025px) {
	.button {
		font-size: 20px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.button {
		font-size: 16px;
	}
}

.button:hover {
    color: #000000;
    background-color: #FF4500CC;
}

#footer {
    padding: 10px;
    background: #000000;
    color: #FF4500;
    text-align: center;
}

/* end common */

/* catalog */

.main-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.main-text-item {
	width: 500px;
	border: 2px solid #FF4500;
}

#products {
    /*margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;*/
	padding: 10px;
	color: #FF4500;
	background: transparent;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* end catalog */

/* items */

.item {
	background-color: #FF4500CC;
	color: #000000;
	border-radius: 190px;
	padding: 10px;
	margin: 40px;
	/*width: 330px;*/
	transform: rotate(10deg) scale(1.2);
	transition: .3s ease-in-out;
}

.item:nth-child(2n) {
    transform: rotate(-10deg) scale(1.2);
} 

.item:hover {
    transform: rotate(0) scale(1);
}

.item a, .product a {
	color: #000000;
}

.item a:hover, .product a:hover  {
	color: #FFD700;
}

.all-items {
	width: 100%;
}

.all-items > p {
	background-color: black;
	width: 150px;
	text-align: center;
	margin: auto;
	border-radius: 15px;
	padding: 5px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.all-items > p {
		width: 180px;
	}
}

@media only screen and (min-device-width : 1025px) {
	.all-items > p {
		width: 220px;
	}
}

/*adaptive small product image*/
.small-image {
    height: 45%;
}

@media only screen and (min-device-width : 1025px) {
    .item {
        margin-bottom: 60px;
    }
    .small-image {
        border-radius: 40px;
        margin-right: 90px;
        margin-left: 90px;
        height: 180px;
    }
}

@media only screen and (min-device-width : 241px) and (max-device-width : 1024px) {
    .small-image {
        border-radius: 30px;
    }
}

@media only screen and (min-device-width : 767px) and (max-device-width : 1024px) {
    .small-image {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media only screen and (min-device-width : 401px) and (max-device-width : 767px) {
    .small-image {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (min-device-width : 304px) and (max-device-width : 400px) {
    .small-image {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-device-width : 303px) {
    .small-image {
        border-radius: 15px;
        margin-right: 40px;
        margin-left: 40px;
        height: 60px;
    }
}

/*end adaptive small product image*/
.big-image {
	border-radius: 30px;
}

.add-to-basket {
	padding: 10px;
	border-radius: 20px;
	border: 2px solid #000000;
}

.product {
	display: inline-block;
	text-align: center;
	border-radius: 30px;
    background-color: #FF4500CC;
    color: #000000;
    padding-bottom: 10px;
}

.big-item-information {
	padding-bottom: 10px;
}

.text {
	text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

/*adaptive big product*/
@media only screen and (min-device-width : 1531px) {
    .big-image {
        height: 700px;
    }
    .product {
        width: 1000px;
    }
}

@media only screen and (min-device-width : 1031px) and (max-device-width : 1530px) {
    .big-image {
        height: 500px;
    }
    .product {
        width: 800px;
    }
}

@media only screen and (min-device-width : 731px) and (max-device-width : 1030px) {
    .big-image {
        height: 400px;
    }
    .product {
        width: 700px;
    }
}

@media only screen and (min-device-width : 531px) and (max-device-width : 730px) {
    .big-image {
        height: 300px;
    }
    .product {
        width: 500px;
    }
}

@media only screen and (min-device-width : 331px) and (max-device-width : 530px) {
    .big-image {
        height: 200px;
    }
    .product {
        width: 300px;
    }
}

@media only screen and (max-device-width : 330px) {
    .big-image {
        height: 100px;
        border-radius: 10px;
    }
    .product {
        width: 200px;
    }
}
/*end adaptive big product*/

/* info-messages*/
.info-item {
    display: inline-block;
    background-color: #000000;
    color: #FF4500;
    border: 1px solid #FF4500;
    border-radius: 20px;
    position: absolute;
}

.info-item:hover {
    border-color: #000000;
    background-color: #FF4500;
    color: #000000;
}

.info-text {
    display: inline-block;
}

.close-image {
    display: inline-block;
    height: 15px;
    padding-left: 1%;
    padding-bottom: 4%;
}
.small-message-two, .small-message-one {
    bottom: 50%;
}

.big-message-two {

}

@media only screen and (min-device-width : 1025px) {
    .small-message-two {
        width: 340px;
        right: 5%;
    }

    .small-message-one {
        width: 270px;
        right: 14%;
    }

    .close-image {
        padding-left: 2%;
        padding-bottom: 5%;
    }

    .big-message-one {
        width: 270px;
        margin-top: -148px;
        margin-left: -136px;
    }

    .big-message-two {
        width: 340px;
        margin-left: -169px;
        margin-top: -150px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .small-message-two {
        width: 270px;
        right: 6%;
    }
    .small-message-one {
        width: 220px;
        right: 14%;
    }

    .big-message-one {
        width: 220px;
        margin-top: -122px;
        margin-left: -110px;
    }

    .big-message-two {
        width: 270px;
        margin-left: -136px;
        margin-top: -120px;
    }
}

@media only screen and (min-device-width : 304px) and (max-device-width : 767px) {
    .small-message-two {
        width: 210px;
    }
    .small-message-one {
        width: 170px;
    }
    .big-message-one {
        width: 180px;
        margin-top: -92px;
        margin-left: -92px;
    }

    .big-message-two {
        width: 210px;
        margin-left: -106px;
        margin-top: -97px;
    }
}

@media only screen and (max-device-width : 767px) {
    .info-item {
        border-radius: 10px;
    }
}

@media only screen and (min-device-width : 304px) and (max-device-width : 767px) {
    .close-image {
        padding-left: 4%;
        padding-bottom: 2%;
    }
}

@media only screen and (min-device-width : 401px) and (max-device-width : 767px) {
    .small-message-two {
        right: 11%;
    }

    .small-message-one {
        right: 18%;
    }
}

@media only screen and (min-device-width : 304px) and (max-device-width : 400px) {
    .small-message-two {
        right: 4%;
    }
    .small-message-one {
        right: 12%;
    }
}

@media only screen and (max-device-width : 303px) {
    .close-image {
        padding-left: 4%;
        padding-bottom: 16%;
    }

    .info-text {
        width: 110px;
    }

    .small-message-two {
        width: 140px;
        right: 5.5%;
    }

    .small-message-one {
        width: 140px;
        right: 6%;
    }

    .big-message-one {
        width: 140px;
        margin-top: -102px;
        margin-left: -72px;
    }

    .big-message-two {
        width: 140px;
        margin-left: -71px;
        margin-top: -110px;
    }
}

/* end info-messages*/

/* end items */

/* registration */

.unseen {
	display: none;
}

.reg, #guestOrder {
	transform: rotate(0) scale(1);
	display: inline-block;
	background-color: #FF4500CC;
	color: #000000;
	border-radius: 190px;
	padding: 10px;
	margin: 40px;
	width: 330px;
}

#guestOrder {
	width: 250px;
	border-radius: 20px;
}

.field {
	clear: both;
	text-align: right;
	line-height: 25px;
}

.field label {
	float: left;
	padding-right: 10px;
}

#registration {
	padding-top: 10px;
	padding-left: 50px;
	float: left;
}

#reg-name {
	display: flex;
	justify-content: center;
	letter-spacing: -1px; 
}

#reg-name .active-reg { 
	color: #46403C;
	padding: 4px;
	background: #ff8a1e; 
}

#reg-name .not-active-reg {
	color: #000000;
}

#reg-name .not-active-reg:hover {
	color: #46403C
}

#reg-name .active-reg:hover { 
	color: #000000;
}

input {
	padding: 5px 10px;
	margin: 5px 0;
}
input:focus{
	outline: none;
}

#guestOrder {
	margin-top: 10px !important;
}

/*adaptive login*/
@media only screen and (min-device-width : 1025px) {
	.reg, #guestOrder {
		width: 400px;
	}
	#submitReg {
		margin-left: 10px;
	}
	#registration {
		padding-left: 80px;
	}
	#guestOrder > .field > input {
		margin-right: 90px;
	}
}

@media only screen and (min-device-width : 701px) and (max-device-width : 1024px) {
	#submitReg {
		margin-left: 0;
		margin-right: -8px;
	}
	#guestOrder > .field > input {
		margin-right: 18px;
	}
}

@media only screen and (min-device-width : 501px) and (max-device-width : 700px){
	.reg, #guestOrder {
		width: 300px;
	}
	#submitReg {
		margin-left: 13px;
	}
	#registration {
		padding-left: 40px;
	}
	#guestOrder > .field > input {
		margin-right: 48px;
	}
}

@media only screen and (min-device-width : 301px) and (max-device-width : 500px){
	.input-data {
		width: 150px;
	}
	.reg, #guestOrder {
		margin: auto;
		width: 250px;
	}
	#submitReg {
		margin-left: 12px;

	}
	#registration {
		padding-left: 20px;
	}
	#guestOrder > .field > input {
		margin-right: 18px;
	}
}

@media only screen and (min-device-width : 301px) {
	#guestOrder > .field > label {
		float: unset !important;
	}
}

@media only screen and (max-device-width : 300px) {
	.input-data {
		width: 100px;
	}
	.reg, #guestOrder {
		margin: auto;
		width: 160px;
	}
	#submitReg {
		margin-left: 12px;
		font-size: 16px;
	}
	#registration {
		padding-left: 0;
	}
}

/*end adaptive login*/

.error-msg{
	color: black;
}

#rememberMe:checked + label:before {
	height: 1rem;
	width: 1rem;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 2rem;
	outline: none;
	margin-left: -17px;
	margin-top: -6px;
}

#rememberMe:checked + label:after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
	outline: none;
}

#error-registration-message > .info-item {
    width: 271px;
    top: 17%;
    right: 11%;
}

#registration-message > .info-item {
    width: 339px;
    right: 0;
    top: 17%;
    padding-right: 5px;
    padding-left: 5px;
}

#error-login-message > .info-item {
    width: 242px;
    right: 15%;
    top: 18%;
}

#login-message {
    margin-bottom: 10px;
}

#login-message > .info-item {
    position: relative;
    width: 221px;
    padding-right: 5px;
    padding-left: 5px;
}

#registration-message > .info-item > .info-text {
    width: 301px;
}

#login-message > .info-item > .info-text {
    width: 180px;
}

#error-registration-message > .info-item > img {
    padding-bottom: 20%;
}

#error-login-message > .info-item > img {
    padding-left: 2%;
    padding-bottom: 19%;
}

#registration-message > .info-item > img {
    padding-bottom: 8%;
}

#login-message > .info-item > img {
    padding-left: 7%;
    padding-bottom: 12%;
}


@media only screen and (min-device-width : 1025px) {
    #error-registration-message > .info-item {
        width: 328px;
        top: 18%;
    }

    #error-login-message > .info-item {
        width: 297px;
        right: 14%;
    }

    #registration-message > .info-item {
        width: 408px;
        top: 18%;
    }

    #login-message > .info-item {
        width: 270px;
    }

    #registration-message > .info-item > .info-text {
        width: 374px;
    }

    #login-message > .info-item > .info-text {
        width: 232px;
    }

    #error-registration-message > .info-item > img {
        padding-bottom: 12%;
    }

    #error-login-message > .info-item > img {
        padding-bottom: 22%;
    }

    #login-message > .info-item > img {
        padding-left: 4%;
        padding-bottom: 14%;
    }
}

@media only screen and (min-device-width : 301px) and (max-device-width : 767px) {
    #error-registration-message > .info-item {
        width: 211px;
        right: 20%;
    }

    #error-login-message > .info-item {
        width: 199px;
        right: 21%;
        top: 17%;
    }

    #registration-message > .info-item {
        width: 256px;
        right: 12%;
    }

    #registration-message > .info-item > .info-text {
        width: 226px;
    }

    #error-login-message > .info-item > img {
        padding-left: 8%;
        padding-bottom: 17%;
    }

    #login-message > .info-item {
        width: 179px;
    }

    #login-message > .info-item > .info-text {
        width: 152px;
    }

    #error-login-message > .info-item > img {
        padding-left: 4%;
        padding-bottom: 11%;
    }

}

@media only screen and (min-device-width : 501px) and (max-device-width : 700px) {
    #error-registration-message > .info-item {
        right: 17%;
    }

    #registration-message > .info-item {
        right: 8%;
    }

    #error-login-message > .info-item {
        right: 18%;
    }
}

@media only screen and (max-device-width : 500px) {
    #error-registration-message > .info-item {
        right: 10%;
    }

    #registration-message > .info-item {
        right: 0;
    }

    #error-login-message > .info-item {
        right: 13%;
    }
}

@media only screen and (max-device-width : 303px) {
    #error-login-message > .info-item > .info-text {
        width: 156px;
    }

    #login-message > .info-item {
        width: 160px;
    }

    #login-message > .info-item > .info-text {
        width: 145px;
    }

    #login-message > .info-item > img {
        padding-left: 0;
        padding-bottom: 13%;
    }
}

@media only screen and (max-device-width : 300px) {
    #error-registration-message > .info-item {
        width: 140px;
        top: 17%;
    }

    #error-login-message > .info-item {
        width: 187px;
        right: -3%;
    }

    #error-registration-message > .info-item > img {
        padding-bottom: 36%;
    }

    #error-login-message > .info-item > img {
        padding-bottom: 19%;
    }

    #registration-message > .info-item {
        width: 171px;
        right: -1%;
    }

    #registration-message > .info-item > .info-text {
        width: 144px;
    }

    #registration-message > .info-item > img {
        padding-bottom: 8%;
    }
}

/* end registration */
/* table */

.table {
	display: inline-block;
	text-align: center;
	border: 2px solid black;
	background-color: #FF4500CC;
	border-spacing: 7px 5px; 
}

/*adaptive table*/
@media only screen and (max-device-width : 480px) {
	.table {
		border-spacing: 1px 1px;
	}
}

@media only screen and (max-device-width : 440px) {
	#basket-table > tbody > tr > th:nth-child(2), #basket-table > tbody > tr > td:nth-child(2) {
		display: none;
	}
}

@media only screen and (min-device-width : 350px) and (max-device-width : 480px) {
	.table {
		font-size: 10px;
	}
}

@media only screen and (min-device-width : 301px) and (max-device-width : 349px) {
	.table {
		font-size: 8px;
	}
}

@media only screen and (max-device-width : 300px) {
	.table {
		font-size: 6px;
	}

	.table > tbody > tr >td > button {
		font-size: 6px;
	}
}

@media only screen and (max-device-width : 800px) {
	.table {
		border-spacing: 1px 1px;
		margin-top: 15px;
		padding:auto;
		margin-left: auto;
	}
}
/*end adaptive table*/
th {
	background: #FF4500;  
    padding: 5px; 
}

td {
	background: #FF4500;  
    padding: 5px; 
}

.add_basket {
	margin-top: 20px;
	margin-bottom: 10px;
}

.info-formalize-basket {
	display: inline-block;
	text-align: center;
	background-color: #FF4500CC;
	padding: 10px;
	border-radius: 20px;
	color: black;
}

.totat_h2 {
	display: inline-block;
	text-align: center;
	background-color: #FF4500CC;
	padding: 10px;
	border-radius: 20px;
	color: black;
}

/* end table */

/* basket */

.delete_all_basket {
    display: block;
    margin: auto;
}

.basket-message {
    display:block !important;
    margin: auto;
    width: 310px;
}

/*empty basket*/

.empty-cart {
    margin-top: 30px;
}

.empty-cart > div {
    background: black;
    max-width: 660px;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

@media only screen and (min-device-width : 1025px) {
    .empty-cart > div {
        max-width: 820px;
    }
}

@media only screen and (max-device-width : 767px) {
    .empty-cart > div {
        max-width: 500px;
    }
}

@media only screen and (min-device-width : 240px) and (max-device-width : 280px) {
    .empty-cart > img {
        width: 200px;
    }
}

@media only screen and (max-device-width : 239px) {
    .empty-cart > img {
        width: 150px;
    }
}

/*end empty basket*/

/* end basket */

.hide {
	display: none;
}

.show {
    display: block;
}

.hideImportant {
    display: none !important;
}