$black-color: #000000;
$grey-color0: #292520;
$grey-color: #46403C;

$orange1-color: #ff6014;
$orange2-color: #FF8A1E;
$orange3-color: #FFA500;
$yellow-color: #FFD700;
$red-color: #ff0a27;

@mixin padding-top-bottom($top, $bottom){
  padding-top: $top;
  padding-bottom: $bottom;
}
